button:hover {   
    opacity: 0.7;   
}   


.container{
    max-width: 200px;
}


.text-blue {
    color: aqua;
}


.panel {
    color: brown;
    margin: 400px;
}




/* 213, 174, 189 */

.testpan {
   height: calc(468px);
   width:  calc(400px);
   margin: auto;
   background-color: rgb(248, 195, 195);
   text-align: calc(100vh - 100px);
   margin-left: 284px;
   margin-top: -472px;

}




.right {
    text-align: right;
}

.header {
   height: calc(100vh - 160px);
   width: calc(100vw - 260px);
   margin: 150px;
   background-color: rgb(60, 50, 50);
}

html, body {
    width: 100%;
    height: 100%;
}

body > div {
    width: 90%;
    height: 90%;
    background: green;
}

body > div > div {
    width: 100%;
    background: red;
}


